@import "tailwindcss";

@theme inline {
  --color-primary: #5465ff;
  --color-bg-light: #f7f3ea;
  --color-logos-primary: #1c2b4b;
  --color-visual-primary: #1e1e4a;
  --color-uiux-primary: #f49f44;
  --color-uiux-secondary: #e65555;
  --color-uiux-darkGreen: #134e4a;

  --font-display: var(--font-anton), sans-serif;
  --font-body: var(--font-inter), sans-serif;
  --font-condensed: var(--font-oswald), sans-serif;
  --font-sans: var(--font-dm), var(--font-inter), sans-serif;
}

@layer utilities {
  .bg-cosmic {
    background-image:
      radial-gradient(
        circle at 50% 50%,
        rgba(255, 255, 255, 0.1) 0%,
        transparent 40%
      ),
      url("https://lh3.googleusercontent.com/aida-public/AB6AXuCZWFfLO7rGG4UPejQ670t8Yhw9MvW2fIkCapJ1so0KDxaAIsdbkQjyZqVB5DGuQEyhTIUEkABUrZ6Hcrv-BvCADx54xoyEYkEZW_Vx2mAiKyLsue928za6Ff93-5YSiHedlo-_tuSktd1UcKsoCpdflDYljS_Zqod28t5PW1KShtGByJBX7duBNcBPH255VXpKuB9UFULlkKTP881hHy6bzqKO8n4RAneRvBXo4OGH-IM1wln98ioJ_xCfFkeAQ1HK_B0Tb5-4uSVe");
  }
}

/* Base Body Styles */
body {
  background-color: var(--color-bg-light);
  color: #1a1a1a;
  transition:
    background-color 0.3s,
    color 0.3s;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
.text-vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.marquee-content {
  display: flex;
  animation: marquee 20s linear infinite;
  width: max-content;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
